mat-card {
  aspect-ratio: 1/1.1;
  background-color: deepskyblue;
  border: solid white 10px;
}

mat-card.played {
  background-color: dimgray;
}

.card-logo {
  width: 80%;
}

.row {
  height: -webkit-fill-available;
}