<div class="container">
  <div class="row center-md">
    <div class="col-md">
      <img src="https://loremflickr.com/1440/240/landscape" />
      <img class="avatar shadow" src="https://loremflickr.com/240/240/profesor" />
    </div>
  </div>
  <div class="row around-md center-md top-md vh-20">
    <div class="col-md">
      <h1>{{privateQuizzes}}</h1>
      <span>privateQuizzes</span>
    </div>
    <div class="col-md">
      <h1>{{publicQuizzes}}</h1>
      <span>publicQuizzes</span>
    </div>
    <div class="col-md">
      <h1>{{totalQuizzes}}</h1>
      <span>totalQuizzes</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <h2>Your Quizzes</h2>
    </div>
  </div>
  <div class="row">
    
    @for (quiz of quizzes; track quiz.id) {
      <div class="col-md-3 margin-bottom">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This card indeterminates progress bar.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo delectus obcaecati</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    } @empty {
      Empty list of users
    }
  </div>
</div>