<div class="container">
  <div class="row center-md middle-md vh-40">
    <div class="col-md-6">
      <img src="../../../assets/imgs/tornado-logo-2.svg" alt="Tornado The Game Logo">
    </div>
  </div>
  <div class="row center-md">
    <div class="col-md-6">
      <button routerLink="/login" mat-flat-button color="primary"><b>GET STARTED</b></button>
    </div>
  </div>
  <div class="row around middle-md vh-20">
  
    <div class="col-md">
      <div class="row center-md">
        <div class="col-md">
          <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
        </div>
      </div>
  
      <div class="row center-md">
        <div class="col-md">
          <span>Create your own quiz to play in your class</span>
        </div>
      </div>
    </div>
    
    <div class="col-md">
      <div class="row center-md">
        <div class="col-md">
          <mat-icon aria-hidden="false" fontIcon="sports_esports"></mat-icon>
        </div>
      </div>
  
      <div class="row center-md">
        <div class="col-md">
          <span>Play your own quizes or look for others creations</span>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="row center-md">
        <div class="col-md">
          <mat-icon aria-hidden="false" fontIcon="school"></mat-icon>
        </div>
      </div>
  
      <div class="row center-md">
        <div class="col-md">
          <span>Have fun and learn in the process</span>
        </div>
      </div>
    </div>
  </div>
</div>