<div class="grid">
  <div class="row flex">
    <div class="col center">
      <img src="../../../assets/imgs/tornado-logo-2.svg" alt="Tornado The Game Logo">
      <button routerLink="/login" mat-flat-button color="primary" class="margin-top"><b>GET STARTED</b></button>
    </div>
  </div>
  <div class="row flex">
    <div class="col">
      <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
      <span>Create your own quiz to play in your class</span>
    </div>
    <div class="col">
      <mat-icon aria-hidden="false" fontIcon="sports_esports"></mat-icon>
      <span>Play your own quizes or look for others creations</span>
    </div>
    <div class="col">
      <mat-icon aria-hidden="false" fontIcon="school"></mat-icon>
      <span>Have fun and learn in the process</span>
    </div>
  </div>
</div>