<app-navbar></app-navbar>

<mat-grid-list cols="3" rowHeight="50px">
  <mat-grid-tile colspan="3" rowspan="8">
    <img src="../../../assets/imgs/tornado-logo-2.svg" alt="Tornado The Game Logo">
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <button mat-flat-button color="primary"><b>GET STARTED</b></button>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="2"></mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-icon aria-hidden="false" fontIcon="sports_esports"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-icon aria-hidden="false" fontIcon="school"></mat-icon>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <span>Create your own quiz to play in your class</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
   <span>Play your own quizes or look for others creations</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <span>Have fun and learn in the process</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="2"></mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>