<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-md-8">
      <div class="row center-md around">
        @for (card of cards; track $index) {
          <div class="col-md-2 margin-bottom">
            <app-question-card></app-question-card>
          </div>
        }
      </div>
    </div>
    <div class="col-md-4 question-col">
      <div class="row center-md">
        <div class="col-md-12 vh-40">
          <!-- <h1>This is a question example title</h1> -->
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod deleniti accusamus maxime nostrum molestiae dicta</h1>
        </div>
        <div class="col-md-12 vh-20">
          <button mat-flat-button color="primary" class="timer">
            @if (isComplete) {
              <b class="time">TIME!</b>
            }@else {
              <cd-timer [countdown]="true" maxTimeUnit="minute" [startTime]="10" format="ms" (onComplete)="setComplete(true)"></cd-timer>
            }
          </button>
        </div>
      </div>
      <div class="row center-md around vh-10">
        <div class="col-md">
          <button mat-flat-button color="warn">wrong</button>
        </div>
        <div class="col-md">
          <button mat-flat-button color="success">correct</button>
        </div>
      </div>
      <div class="row center-md">
        @for (team of teams; track $index) {
          <div class="col-md-4">
            <b>{{team.name}}</b> <br>
            <b>Points: {{team.points}}</b>
          </div>
        }
      </div>
    </div>
  </div>
</div>